<div class="page-section flexbox vertical stretch">
  <div class="section-inner flexbox vertical stretch">
    <div class="section-title" style="background-color:#92b9f0">
      <center style="font-size:69px; color:#003333">
        Bikes:
      </center>
    </div>  
    <div class="flexbox vertical stretch" style="background-color:#CCCC99">
      <% if @bikes.present? %>
        <%= render(partial: "bikes/row", collection: @bikes, as: :bike) %>
      <% else %>
      <div class="empty">
        No bikes found :(
      </div>
      <% end %>
    </div>
	</div>
</div>
